mixin videoPlayer(video={})
    .videoPlayer#jsVideoPlayer
        video
            source(src=video.src, type="video/mp4")
            source(src=video.src, type="video/*")
        .videoPlayer__controls
            .videoPlayer__columnn
                span#jsVolumeButton
                    i.fas.fa-volume-up
                span
                    span#currentTime 00:00:00 
                    span / 
                    span#totalTime 00:00:00
                input.videoPlayer__volume#jsVolume(type="range" min="0" max="1" step="0.1", value="0.5")
            .videoPlayer__columnn
                span#jsPlayButton
                    i.fas.fa-play
            .videoPlayer__columnn
                span#jsFullScreen
                    i.fas.fa-expand